--------------------------------------------------
# Compiled Object / Binary Files
*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

#--------------------------------------------------
# IDE / Editor metadata
.cproject
.project
.settings/
*.pydevproject
.vscode/
.idea/

#--------------------------------------------------
# Python
*.pyc
__pycache__/

#--------------------------------------------------
# ROS2 (colcon)
build/
install/
log/

# Optional: if you keep multiple workspaces inside repo
ros1_ws/build/
ros1_ws/devel/
ros1_ws/logs/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

#--------------------------------------------------
# Common system junk
.DS_Store
Thumbs.db

#--------------------------------------------------
# Custom
docs/plots/
.pio/
site/